<header>
    <div class="header">
      <div class="site-title">AKINO'S PORTFOLIO</div>
      <div class="category">
        <ul id="tabcontrol">
          <li><input type="radio" name="tabset" id="tabcheck1"        ><label for="tabcheck1" class="tab"><%= link_to "PROFILE", root_path %></label></li>
          <li><input type="radio" name="tabset" id="tabcheck2" checked><label for="tabcheck2" class="tab"><%= link_to "PORTFOLIO & SKILL SET", portfolio_index_path %></label></li>
          <li><input type="radio" name="tabset" id="tabcheck4"        ><label for="tabcheck4" class="tab"><%= link_to "CONTACT", new_contact_path %></label></li>
        </ul>
        </div>
    </div>
    </div>
</header>
<div class="page-header">
  <div class= "contact">PORTFOLIO</div>
    <div class="portfolio-list">
      <% @portfolios.each do |portfolio|%>
        <div class="portfolio-list_main">
          <%= link_to portfolio_path(portfolio.id) do %>
            <%=image_tag "#{portfolio.image[0].image}" %>
            <div class="portfolio-list_main-name"><%= portfolio.name %></div>
            <div class="portfolio-list_main-short_statement"><%= portfolio.short_statement %></div>
          </a>
          <%end%>
        </div>
      <%end%>
    </div>
</div>
<div class="page-header">
  <div class= "contact">SKILL SET</div>
</div>
<div class= "portfolio_language">
  <div class="title">言語</div>
  HTML/HAML　　CSS/SCSS　　Bootstrap　　JavaScript/jQuery　　Ruby
  <div class="title">フレームワーク</div>
  Ruby on Rails
  <div class="title">データベース</div>
  MySQL
  <div class="title">インフラ</div>
  AWS　　Capistrano　　Nginx　　heroku
  <div class="title">その他</div>
  GitHub
</div>