<div class="page-header">
  <div class= "contact show-title">ToDoDay</div>
</div>
<div class="portfolio-show">
  <div class= "portfolio_img">
    <%=image_tag "portfolio1.png" %>
    <%=image_tag "portfolio2.png" %>
    <%=image_tag "portfolio3.png" %>
  </div>
</div>
<div class= "portfolio_information">
</div>
<div class="portfolio_url">
  <%= link_to "https://github.com/akino102819/PortfolioSite", target: :_blank do %>
    <i class="fab fa-github"></i>
  <%end%>
  <%= link_to "http://13.112.136.198/", target: :_blank do %>
    <i class="fas fa-globe"></i>
  <%end%>

</div>
<div class="btn">
  <div class="return">
    <%= link_to "戻る", portfolio_index_path %>
  </div>
</div>