<div class="page-header">
  <div class= "contact"><%=@portfolio.name%></div>
</div>
<div class="portfolio-show">
  <div class= "portfolio_img">
    <% @image.each do |image| %>
      <%=image_tag "#{image.image}" %>
    <% end %>
  </div>
</div>
<div class= "portfolio_information">
  <%= @portfolio.information %>
</div>  
<div class= "portfolio_language">
  <div class="title">*使用した言語*</div>
  <%= @portfolio.language%>
</div>
<div class="portfolio_url">
  <%= link_to "#{@portfolio.git_url}", target: :_blank do %>
    <i class="fab fa-github"></i>
  <%end%>
  <% if @portfolio.url.empty? %>
    <div class="no-deploy">デプロイが完了していません</div>
  <%else%>
    <%= link_to "#{@portfolio.url}", target: :_blank do %>
      <i class="fas fa-globe"></i>
    <%end%>
  <%end%>

</div>
<div class="btn">
  <div class="return">
    <%= link_to "戻る", portfolio_index_path %>
  </div>
</div>
