<header>
    <div class="header">
      <div class="site-title">AKINO'S PORTFOLIO</div>
      <div class="category">
        <ul id="tabcontrol">
          <li><input type="radio" name="tabset" id="tabcheck1"        ><label for="tabcheck1" class="tab"><%= link_to "PROFILE", root_path %></label></li>
          <li><input type="radio" name="tabset" id="tabcheck2"        ><label for="tabcheck2" class="tab"><%= link_to "PORTFOLIO & SKILL SET", portfolio_index_path %></label></li>
          <li><input type="radio" name="tabset" id="tabcheck4" checked><label for="tabcheck4" class="tab"><%= link_to "CONTACT", new_contact_path %></label></li>
        </ul>
        </div>
    </div>
    </div>
</header>
<%= form_for @contact, url: contact_index_path do |f| %>
  <div class="page-header">
    <div class= "contact">CONTACT</h1>
  </div>

  <% if @contact.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>入力内容にエラーがあります</strong>
      <ul>
        <% @contact.errors.each do |attr, msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="table">

    <div class="inquiry">
      <div class="contact-list">名前(必須)</div>
      <%= f.text_field :name, class:"name" %>
    </div>

    <div class="inquiry">
      <div class="contact-list">メールアドレス(必須)</div>
      <div><%= f.text_field :email, class:"email" %></div>
    </div>

    <div class="inquiry">
      <div class="contact-list">メッセージ</div>
      <%= f.text_area :message, class:"message" %>
    </div>

    <div class="inquiry">
      <%= f.submit '確認', class: 'btn btn-primary' %>
    </div>
  </div>
  
<% end %>
