<header>
    <div class="header">
      <div class="site-title">AKINO'S PORTFOLIO</div>
      <div class="category">
        <ul id="tabcontrol">
          <li><input type="radio" name="tabset" id="tabcheck1"        ><label for="tabcheck1" class="tab"><%= link_to "PROFILE", root_path %></label></li>
          <li><input type="radio" name="tabset" id="tabcheck2"        ><label for="tabcheck2" class="tab"><%= link_to "PORTFOLIO & SKILL SET", portfolio_index_path %></label></li>
          <li><input type="radio" name="tabset" id="tabcheck4" checked><label for="tabcheck4" class="tab"><%= link_to "CONTACT", new_contact_path %></label></li>
        </ul>
        </div>
    </div>
    </div>
</header>
<div class="page-header">
  <div class= "contact">CONTACT</h1>
</div>
<div class="contact-message">
  <p>ご覧いただきありがとうございます。</p>
  <p>このサイトを通して、私のことを過ごしでも知っていただけたのなら嬉しいです。もし、このサイトや私について、それ以外でも何かコメントがありましたら、メールでご連絡お待ちしております。</p>
</div>
<div class="contact-icon">
  <%= link_to "mailto:ki.akino1028@icloud.com", target: :_blank do %>
    <i class="far fa-envelope"></i>
  <%end%>
  <%= link_to "https://github.com/akino102819", target: :_blank do %>
    <i class="fab fa-github"></i>
  <%end%>
</div>